<form (ngSubmit)="save()">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="client.name" name="name" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="client.email" name="email" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Salvar</button>
  <button mat-button (click)="router.navigate(['/clients'])">Cancelar</button>
</form>
